.email-content
  each topic in Object.keys(topics)
    .topic-content
      h3.topic= topic.toUpperCase()
      if topics[topic].length > 0
        .articles
          each article in topics[topic]
            p.article
              .title
                a(href=article.link)= article.title
              .info
                small
                  span= article.points > 0 ? `${article.points} points |` : ''
                  span= ` ${article.date} | `
                  a(href=article.hnLink)= article.comments
      else
        p
          | No story was found for this topic. Try update your topics 
          a(href="https://hnmail.io") here
          | .
  if showAds
    .topic-content
      h3.topic DEVELOPER EVENT
      .articles
        p.article
          .title
            a(href="https://jsnation.com/") JS Nation
            span  (June 5-8) is a 2-day event focusing specifically on JavaScript development. Exclusive workshops prior to the main event, general and Nodejs tracks on a conference day in unique historical buildings in the heart of Amsterdam.
  p If you have any issues or suggestions, feel free to reply to this email!
