.email-content
  each topic in Object.keys(topics)
    .topic-content
      h3.topic= topic.toUpperCase()
      if topics[topic].length > 0
        .articles
          each article in topics[topic]
            p.article
              .title
                a(href=article.link)= article.title
              .info
                small
                  span= article.points > 0 ? `${article.points} points |` : ''
                  span= ` ${article.date} | `
                  a(href=article.hnLink)= article.comments
      else
        p
          | No story was found for this topic. Try update your topics 
          a(href="https://hnmail.io") here
          | .
  p If you have any issues or suggestions, feel free to reply to this email!
