.email-content
  each topic in Object.keys(topics)
    .topic-content
      h3.topic= topic.toUpperCase()
      if topics[topic].length > 0
        .articles
          each article in topics[topic]
            p.article
              .title
                a(href=article.url)= article.title
              .info
                small
                  span= article.points > 0 ? `${article.points} points | ` : ''
                  a(href=article.hnUrl)= `${article.num_comments} comments`
      else
        p
          | No story was found for this topic. Try update your topics 
          a(href="https://hnmail.io/#subscribe") here
          | .
  if showAds
    .topic-content
      h3.topic DEVELOPER EVENT
      .articles
        p.article
          .title
            a(href="https://reactday.berlin/") React Day Berlin
            span  , (Dec 6), is the third edition of React Conference in Berlin, which celebrates all things React. The event focuses on in-depth talks, hands-on workshops, and finding new opportunities within the React community and beyond. 
