.email-content
  each topic in Object.keys(topics)
    .topic-content
      h3.topic= topic.toUpperCase()
      if topics[topic].length > 0
        .articles
          each article in topics[topic]
            p.article
              .title
                a(href=article.link)= article.title
              .info
                small
                  span= article.points > 0 ? `${article.points} points |` : ''
                  span= ` ${article.date} | `
                  a(href=article.hnLink)= article.comments
      else
        p
          | No story was found for this topic. Try update your topics 
          a(href="https://hnmail.io") here
          | .
  if showAds
    .topic-content
      h3.topic DEVELOPER EVENT
      .articles
        p.article
          .title
            a(href="https://reactadvanced.com/") React Advanced
            span  , a London based React community and conference (coming Oct 25), is focused on Advanced tech topics. 30+ experts, more than 500 developers, two tracks, numerous workshops on Patterns, React Native, GraphQL, Design Systems, TypeScript, Reason, and more.
