doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title HN Mail
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro")
    style
      include index.css
  body
    main
      each topic in Object.keys(topics)
        .topic= topic.toUpperCase()
        .articles
          each article in topics[topic]
            .article
              .title
                a(href=article.link)= article.title
              .info
                small
                  span= `${article.points} points by ` 
                  a(href=article.authorLink)= article.author
                  span= ` ${article.date} | `
                  a(href=article.hnLink)= article.comments
                  span= ' | '
                  a(href=article.domain)= article.domain
      
      .signature
        div ❤️,
        div HN Mail

      footer
        p
          small You are receiving this email because you signed up for the HN Mail mailing list.
        p
          small If you have any questions or suggestions, just reply to this email! 👋
        p
          small To unsubscribe, simply reply "unsub".
