extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  - var searchUrl = 'https://hn.algolia.com/?sort=byPopularity&prefix&page=0&dateRange=pastWeek&type=all'
  main#home
    section#intro
      .container
        h1
          span Hacker News
          br
          span Tailored For You

        p.subtitle 
          | Too busy to keep up with stories you care about from 
          a(href="https://news.ycombinator.com/", target="_blank") Hacker News
          | ? 
        p.subtitle Specify topics you want and let stories come to you.

        form(action="/sample", method="get")
          div
            button.btn-default(type="submit") Sample Newsletter

    section#topics
      .container
        h2 🔥 Hot Topics
        ul
          each topic in topics
            li
              - var link = `${searchUrl}&query=${topic.name}`
              a(href=link, target="_blank")= topic.name.toUpperCase()
              if (topic.subscriber_ids.length > 1)
                small= ` x${topic.subscriber_ids.length}`
        p.text-light= `${topicsCount} topics in total`
    
    section#subscribe
      .container
        h2 🙋 Join HN Mail
        if error && error.message
          .error-message= error.message
        form(action="/subscribe", method="post")
          .input-field
            label Topics I'm interested in
            textarea(name="topics", rows="3" placeholder="Seperate topics by comma. E.g., Programming, Blockchain, Show HN", required="true")
            p.text-light At most 5 topics. Can be updated later.
          .input-field
            label Send weekly newsletter to
            input(type="email" name="email" placeholder="fan@hnmail.io", required="true")
          div
            button.btn-primary(type="submit") Subscribe

    section#faq
      .container
        h2 🤔 Questions?
        h3 Why did you make this?
        p 
          | Hacker News is a wonderful source of information which continues to inspire me to explore and learn. 
          | Given tons of posts are created everyday, sometimes it could be difficult to keep up with stories that I’m interested in. 
          | Wouldn’t it be great to be able to collect and digest stories regularly based on my own interests?
        h3 How does it identify stories based on topics?
        p.
          We simply use provided topics as keywords to #[a(href=searchUrl) search] through HN stories and comments. The search is powered by Algolia which usually delivers good results.
        h3 Is there a list of topics possible or can I input anything?
        p Feel free to input anything you want. However, for the best result, it’s recommended to use keywords that show up frequently in HN titles. 
        h3 How often do I receive newsletters?
        p.
         Newsletters are sent out at 15:00 #[a(href="https://time.is/UTC", target="_blank") UTC] every Friday.
        h3 More questions?
        p.
          Feel free to shoot me an Email at #[a(href="mailto:info@hnmail.io") info@hnmail.io] or discuss it #[a(href="https://news.ycombinator.com/item?id=17387767", target="_blank") here].
         