extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  - var searchUrl = 'https://hn.algolia.com/?sort=byPopularity&prefix&page=0&dateRange=pastWeek&type=all'
  main#home
    section.text-center#intro
      .container
        h1
          span Hacker News
          br
          span Tailored For You

        p.subtitle 
          | Too busy to keep up with stories you care about from 
          a(href="https://news.ycombinator.com/", target="_blank") Hacker News
          | ? Specify topics you are interested in and let stories come to you.

        form(action="/sample", method="get")
          div
            button.btn-primary(type="submit") Try Sample

    section.text-center#topics
      .container
        h2 🔥 Hot Topics
        ul
          each topic in topics
            li
              - var link = `${searchUrl}&query=${topic.name}`
              a(href=link, target="_blank")= topic.name.toUpperCase()
              if (topic.subscriber_ids.length > 1)
                small= ` x${topic.subscriber_ids.length}`
        a(href="/topics").text-light= `View all ${topicsCount} topics`
    
    section.text-center#subscribe
      .container
        h2 🙋 Join HN Mail
        if error && error.message
          .error-message= error.message
        form(action="/subscribe", method="post")
          .input-field
            label Topics I'm interested in
            textarea(name="topics", rows="3" placeholder="blockchain, privacy, rust", required="true")
            p.text-light At most 5 topics. Separate by comma. You can always update them later.
          .input-field
            label Send weekly newsletter to
            input(type="email" name="email" placeholder="fan@hnmail.io", required="true")
          div
            button.btn-default(type="submit") Subscribe

    section#faq
      .container
        h2.text-center 🤔 Questions?
        details
          summary When do I receive newsletters?
          p.
           Newsletters are sent out at 8AM #[a(href="https://time.is/PDT", target="_blank") PDT] every Friday.
        details 
          summary How do I update topics?
          p.
            Simply subscribe again with your updated topics and email address. We'll send you an email to confirm the update.
        details
          summary Why did you build this?
          p Given tons of posts are created everyday on HN, sometimes it could be difficult to keep up with stories that I’m interested in. Wouldn’t it be great to be able to collect and digest stories regularly based on my own interests?
    hr

    footer
      .container
        p= `${subscriberCount} subscribers | ${newsletterCount} newsletters sent`
        p.
          Copyright © 2018-present #[a(href="https://github.com/kingdido999") Desmond Ding]
