extends ../layouts/primary.pug

block dynamicCss
  link(rel="stylesheet", href="css/main.css")

block content
  - var searchUrl = 'https://hn.algolia.com/?sort=byPopularity&prefix&page=0&dateRange=pastWeek&type=all'
  main
    section.text-center#topics
      .container
        h2= `${topics.length} Topics`
        ul
          each topic in topics
            li
              - var link = `${searchUrl}&query=${topic.name}`
              a(href=link, target="_blank")= topic.name.toUpperCase()
              if (topic.subscriber_ids.length > 1)
                small= ` x${topic.subscriber_ids.length}`
